/*instructor john nel lim 
for final hands-on exam*/

body{
	font-family: 'Inter', sans-serif;
	color: #000;
	height: 100%;
	max-width: 100%;
	display: block;
	margin: 0;

}

.container{

}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

a, li{
	text-decoration: none;
	list-style-type: none;
}

.clearfix{
	overflow: auto;
}

/* header section */

header, header .cointainer{
	height: 100px;
	background: #B0A5A5;
}

header .header_container .header_logo{
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
}

header .header_container{
	position: relative;
	height: 100px;
	overflow: hidden;
	background: #B0A5A5;
}

nav{
	float: right;
	height: 20px;
	line-height: 40px;
}

nav{
}

nav ul li{
	display: inline-block;
	vertical-align: middle;
}

nav ul li a{
	font-size: 20px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	padding: 0 20px 0 20px;
}

nav ul li a:hover{
	text-decoration: underline;
	color:  green;

	/* hero section */
}


#main_content{
	height: auto;
	background-color: #EAEAEA; 
}
	
.hero_expanded{ 
	background: url("img/.jpg") no-repeat top/cover;
	position: absolute;
	width: 100%;
	height: 550px;
}

.site_name_tag{
	position: relative;
	z-index: 9;
	top: 150px;
}
.site_name_tag h1{
	font-size: 36px;
	font-weight: 700;
	white-space: pre-line;
}
.site_name_tag h1 span{
	font-size: 32px;
	font-weight: 400;
}
.site_name_tag a{
	font-size: 20px;
	color: #000;
	width: 250px;
	line-height: 35px;
	background: #D9D9D9;
	display: block;
	text-align: center;
	margin-top: 15px;
}
#hero.container{
	background: transparent!important;
}

/* middle */

.middle_content{
	min-height: 50px;
	width: 100%;
	background-color: #fff;
}


/*instructor john nel lim 
for final hands-on exam*/


/* TSHIRT */


.tshirt_module {
	background-color: #B7B1B1;
	padding-block: 100px;
	position: relative;
	margin-top: 400px;
}

.tshirt_module .container {
	background-color: transparent;
}

.tshirt_module .tshirt_column {
	display: flex;
	gap: 100px;
	justify-content: center;
}

.gwapo h1{
	color: white;
	font-size: 16px;
	text-align: center;
}

.gwapo {
	padding: 10px;
	padding-bottom: 20px;
	border: 2px solid #000;
}

.width {
	background-color: #585757;
	width: 220px;
}

.tshirt3 img {
	position: relative;
	left: 50px;
}

.tshirt1 img {
	position: relative;
	left: 20;
}

.tshirt1 h1 {
	white-space: pre-line;
}

.circle h1 {
	background-color: #934949;
	line-height: 100px;
	width: 100px;
	border-radius: 50%;
	font-size: 16px;
	color: #fff;
	padding: 8px;
}

.circle1 h1 {
	position: relative;
	top: -70px;
	left: 199px;
	text-align: center;
}

.circle2 h1 {
	position: relative;
	top: -170px;
	left: 543px;
	background-color: #934949;

}

.circle3 h1 {
	position: relative;
	top: -273px;
	left: 879px;
}

.tshirt_module .container h2 {
	text-align: center;
	margin-top: -250px;
	white-space: pre-line;
	font-weight: 400;
	font-size: 32px;
}

.tshirt_module p {
	text-align: center;
}

/* about */ 

.about_module {
	background: url("images/Group.jpg") no-repeat top/cover;
	position: relative;
	height: 700px;
	width: 100%;
}
.blank_module{
	position: relative;
}
.blank_module .container p{
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	width: 750px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 700;
	line-height: 32px;
}

/* p {
	text-align: center;
	position: absolute;
	top: 1633px;
	width: 618px;
	font-size: 30px;
	left: 0;
	right: 0;
	color: white;
	margin: 0 auto;
} */

/* footer */
.footer{
	background : #66636380;
}
.footer .container {

	
}

.footer h1  {
	
	text-align: center;
	font-size: 32px;
	font-weight: 400;
}

.footer .footer_column {
	display: flex;
	text-align: center;
	justify-content: center;
	
	max-width: 1520pxs;
}

.footer h2 {
	font-size: 32px;
	font-weight: 400;
}

.footer h3 {
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	
}

.footer .footer_column div {
	padding-inline: 100px;
}

.footer .footer_column div ul li {
	/* padding: 0 50px; */
	line-height: 50px;
	text-align: left;
}
.footer .footer_column div ul li a{
	color: #000;
	
}

.footer .footer_column div ul li a:hover{
	color: blue;
}

.footer .copyright{
	text-align: center;
}


/*instructor john nel lim 
for final hands-on exam*/
